* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 50px;
}

nav {
  background-color: #f35136;
  position: fixed;
  width: 100vw;
  padding: 1rem
}

ul {
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 2rem;
}

img {
  position: absolute;
  top: 0;
  right: 5px;
  height: 2rem;
  margin: 1rem 2rem 1rem 95%;

}

main {
  width: 70%;
  margin: auto;
  text-align: justify;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}


footer h2 {
  font-size: .8rem;
  font-weight: 500;
  padding: .4rem;
  background-color: #222;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}